body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0f4f8, #d9e4f5);
  min-height: 100vh;
}

form{
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}